.App {
  background-color: #f6f6f6;
  padding: 0 150px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.logo {
  display: flex;
  align-items: center;

}

.logo img {
  margin-right: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1 span {
  color: #FF4500;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: left;
}

.content {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.sidebar {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;

}

button {
  background-color: #f6f6f6;
  border: none; /* Remove borders */
  color: #000000; /* White text */
  padding: 5px 16px; /* Some padding */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

button img {
  margin-right: 5px;
}
.search-bar {
  margin-left: 20px;
  align-items: center;
  display: inline-flex;
}

input {
  background-color: #ffffff;
  border: none;
  width: 218px;
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px #F7F7F7;
}

.side-menu {
  border: none;
  padding: 20px;
  margin: 70px 0px;
  border-radius: 5px;
  flex-grow: 1;
  width: 400px;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px #EDEDED;
}

.side-menu h2 {
  font-size: 1.2em;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: left;

}

.side-menu li {
  cursor: pointer;
  padding-bottom: 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

}

.side-menu li:hover {
  background-color: #ffffff;
}

.subreddit-thumbnail {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.post {
  border: none;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  flex-grow: 1;
  width: 600px;
  background-color: #ffffff;
  flex-shrink: 0;
  box-shadow: 2px 2px 6px #EDEDED;
}

.post h3 {
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.post p {
  font-size: 0.9em;
}

.post a {
  color: blue;
  text-decoration: none;
}

.post img {
  /* Ensure images resize appropriately */
  max-width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center images */
}

.author {
  font-weight: 800;
}